
table tr.level-1 {
}

table tr.level-2 {
  background-color: #eeeeee;
  font-size: 90%;
}
table tr.level-2 td.title {
  padding-left: 2em;
}

table tr.level-3 {
  background-color: #cccccc;
  font-size: 80%;
}
table tr.level-3 td.title {
  padding-left: 4em;
}

table tr.level-4 {
  font-size: 70%;
}
table tr.level-4 td.title {
  padding-left: 4em;
}

td {
  min-width: 7em;
}

td ul {
  padding-left: 1em;
}