body {
  padding-top: 70px;
}

img {
  max-width: 100%;
}

dd {
  padding-left: 3em;
  padding-bottom: 1em;
}

th, td {
  border: 1px solid #cccccc;
  text-align: left;
  margin: 0;
  padding: 6px 13px;
}
